.inputs {
  padding: 15px;
  border-style: solid;

}
.payment {
  padding: 15px;
  border-style: solid;
  margin-top: 15px;

}
.address {
  margin-top: 15px;
  border-style: solid;
  padding: 15px;
}
.security{
  margin-top: 15px;
  border-style: solid;
  padding: 15px;
  margin-bottom: 15px;

}
div {
  padding: 5px;
}

